.ChatInput{
    border-top:solid 1px #BFBFBF;
    position:fixed;
    bottom:0px;
    width:100%;
    background:#FFF;
    z-index:999;
}

.ChatInput input{
    margin-left:10px;
    width:90%;
}

.ChatInput .SendText{
    margin-right:20px;
}

.PaddedInput{
    padding:12px;
}