.SystemCenterMessage{
    width:100%;
}

.MessageChip{
    max-width:300px;
    white-space:normal!important;
}

.MessageChip span{
    white-space:pre-wrap!important;
    max-width:300px;
    text-overflow: ellipsis!important;
}