.YellText{
    font-size:30px;
}

.TeleportsText{

}

.SystemMessage{
    color:#BFBFBF;
}

.ImageMessage{
    overflow:hidden;
    margin-left:20px;
    border-radius:10px;
}

.ImageMessage img{
    margin-bottom:-20px;
}